dist
node_modules
dist.js
target
/example/rust-wasm/pkg
/example/package-lock.json
/example/server/*
!/example/server/server.toml
!/example/server/start.bat
!/example/server/resources
/example/server/resources/rust/*
!/example/server/resources/rust/resource.toml
